RedirectMatch 403 ^/ectr/main.php$
RedirectMatch 403 ^/ectr/$
RedirectMatch 403 ^/view/$
RedirectMatch 403 ^/public/$
RedirectMatch 403 ^/public/uploads/$

ErrorDocument 403 /view/error_pages/403/403.html
ErrorDocument 404 /view/error_pages/404/404.html
ErrorDocument 500 /view/error_pages/500/500.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php
